/* ---- global styles ---- */

body,
html {
  padding: 0;
  margin: 0;
  font-size: 14px;
  word-spacing: 1px;
  font-weight: 300;
  background-color: #121212;
  color: #ffffff;
  cursor: default;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
}

.side-block {
  float: left;
  width: 19.1489%;
  min-width: 200px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #d6d6d6;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

ul {
  padding: 0;
}

p,
li {
  font-family: 'Roboto', sans-serif;
}

/* Reset `button` and button-style `input` default styles */
input[type='submit'],
input[type='reset'],
input[type='button'],
button:not(.submit-message-button) {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.capsule {
  width: 100%;
  margin: 0 auto;
}

input[type='email'] {
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 24px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

input::placeholder,
input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder {
  color: #aab8c3;
}

/* ---- items layout ---- */

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  max-width: 1200px;
}

/* --- items animation --- */

.items-leave-active {
  transition: all 0.2s ease-in;
}

.items-move {
  transition: all 0.2s ease-in-out;
}

.items-enter-active {
  transition: all 0.2s ease-out;
}

.items-enter,
.items-leave-to {
  opacity: 0;
  transform: scale(0.9);
  transform-origin: 50% 50%;
}

/* --- fade animation --- */

.fade-leave-active {
  transition: all 0.2s ease-in;
}

.fade-enter-active {
  transition: all 0.2s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

aside.mobile-hidden {
  display: none !important;
}
@media (max-device-width: 1077px) {
  aside.mobile-hidden {
    display: inline-block !important;
  }

  aside.desktop {
    display: none !important;
  }
}


@media (max-device-width: 555px) {
  section.content {
    border-top: 12px solid #f2f2f2;
    border-bottom: 12px solid #f2f2f2;
    background-color: #FAFAFB;
  }
}

/* --- range --- */

input[type='range'].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0 5px;
  background-color: #1C1C1C;
}

input[type='range'].slider:focus {
  outline: none;
}

input[type='range'].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #FFB500;
  border-radius: 13.7px;
  border: 0px solid rgba(1, 1, 1, 0);
}

input[type='range'].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0), 0px 0px 0px rgba(0, 0, 88, 0);
  border: 1.9px solid #FFB500;
  height: 17px;
  width: 17px;
  border-radius: 31px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.35px;
}

input[type='range'].slider:focus::-webkit-slider-runnable-track {
  background: #FFB500;
}

input[type='range'].slider::-moz-range-track {
  width: 100%;
  height: 4.3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #FFB500;
  border-radius: 13.7px;
  border: 0px solid rgba(1, 1, 1, 0);
}

input[type='range'].slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0), 0px 0px 0px rgba(0, 0, 88, 0);
  border: 1.9px solid #FFB500;
  height: 17px;
  width: 17px;
  border-radius: 31px;
  cursor: pointer;
}

input[type='range'].slider::-ms-track {
  width: 100%;
  height: 4.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type='range'].slider::-ms-fill-lower {
  background: #FFB500;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 27.4px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}

input[type='range'].slider::-ms-fill-upper {
  background: #FFB500;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 27.4px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}

input[type='range'].slider::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0), 0px 0px 0px rgba(0, 0, 88, 0);
  border: 1.9px solid #FFB500;
  height: 17px;
  width: 17px;
  border-radius: 31px;
  background: #ffffff;
  cursor: pointer;
  height: 4.3px;
}

input[type='range'].slider:focus::-ms-fill-lower {
  background: #FFB500;
}

input[type='range'].slider:focus::-ms-fill-upper {
  background: #FFB500;
}

/* ---- media queries ---- */
@media(max-width: 1073px) {
  .side-block {
    float: none;
    width: 100%;
  overflow: auto;
  }
  .side-block .store-navigation {
    width: 49%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
  }
  .side-block .store-filter {
    width: 49%;
    display: block;
    float: right;
  }
}


/*
@media (max-width: 992px) {
  .content {
    grid-template-columns: repeat(2, 1fr) !important;
  }
} */
